<!DOCTYPE html>
<html>
<head>
 <!-- <title>Une Simple Application de test via Ruby on Rails | < % = @titre %></title> -->
 <title> <%= titre %></title>
  <%= csrf_meta_tags %>
 <%= render 'layouts/stylesheets' %>
</head>
<body>

<!-- Ici on ajoute configuration pour en tete de la page -->
<div class="container">

<%= render 'layouts/entete' %>
	 <section class="round">
		<%= yield %>
	</section>
<!-- Ici on ajoute configuration pour un bout de pied de page -->
 <%= render 'layouts/pieddepage' %>

</div>
</body>
</html>
